.head{
    color: darkgray;
    text-align: center;
}
.para{
    color: floralwhite;
    
}

.main{
   margin-left: 300px
}
.calc{
    color: coral;
    text-align: center
}
.name{
    color: chocolate
}